@{
    Layout = "_HomeLayout";
    <!-- Bu, layout sayfasını kullanır -->
}
<link rel="stylesheet" href="~/css/About.css">
<div class="content">
    <h1>Hakkımızda</h1>
    Şirketimiz, e-ticaret sektöründe müşterilerine yenilikçi ve 
    güvenilir bir alışveriş deneyimi sunma amacıyla kurulmuştur. Geniş ürün yelpazemiz, 
    kaliteli hizmet anlayışımız ve müşteri odaklı yaklaşımımız sayesinde, kullanıcılarımızın ihtiyaçlarını en iyi şekilde karşılamayı hedefliyoruz. Teknolojiyi yakından takip eden ekibimiz, sektördeki en son trendleri uygulayarak, alışveriş sürecini kolaylaştıran ve keyifli hale getiren çözümler sunmaktadır. Misyonumuz, müşteri memnuniyetini ön planda tutarak, güvenilir ve sürdürülebilir bir alışveriş platformu olmaktır. Vizyonumuz ise,
    global ölçekte tanınan ve tercih edilen bir e-ticaret markası haline gelmektir.  
</div>