@{
    Layout = "_HomeLayout";
    <!-- Bu, layout sayfasını kullanır -->
}
<link rel="stylesheet" href="~/css/CustomerService.css">

<div class="content">
    <h1>Müşteri Hizmetleri</h1>
    <p>Müşteri memnuniyeti bizim için önceliklidir. Sorularınız, geri bildirimleriniz veya herhangi bir konuda yardıma ihtiyacınız olduğunda bize ulaşabilirsiniz.</p>
    <div class="contact-options">
        <h2>Bizimle İletışime Geçin:</h2>
        <ul>
            <li><strong>Telefon:</strong> 0512 345 67 89</li>
            <li><strong>E-posta:</strong> bitik@eticaret.com</li>
            <li><strong>Canlı Destek:</strong> Web sitemizdeki canlı destek hattını kullanabilirsiniz.</li>
            <li><strong>Adres:</strong> E-Ticaret Mahallesi, No:123, İstanbul</li>
        </ul>
    </div>
</div>