<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Başarılı</title>
    <link rel="stylesheet" href="~/css/Success.css" />
</head>
<body>
    <div class="success-container">
        <div class="success-icon">✔</div>
        <div class="success-message">Ödeme Başarılı!</div>
        <div class="success-details">
            Siparişiniz başarıyla alındı. En kısa sürede işleme alınacaktır.
        </div>
        <a href="@Url.Action("Index", "Home")" class="back-to-home">Ana Sayfaya Dön</a>
    </div>
</body>
</html>
