@model Bitik.Models.AdminLoginViewModel

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adminlogin.css">
    <title>Admin Giriş</title>
</head>
<body>
    <div class="login-container">
        <h1>Admin Giriş</h1>
        <form method="post" asp-action="Index" asp-controller="AdminLogin">
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="E-posta adresinizi girin" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" placeholder="Şifrenizi girin" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit">Giriş Yap</button>
        </form>
    </div>
</body>
</html>
