
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.price {
font-size: 1.2em;
font-weight: bold;
color: #e74c3c; /* Fiyat rengini kırmızı yapabilirsiniz */
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.category {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background: linear-gradient(135deg, #f7f7f7, #ffffff);
}

.category img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.category h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.category p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
}

.category .buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.category:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #333;
}

